@use "./mixins" as mixin;

.h-screen {
  height: 100vh;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-y {
  display: flex;
  align-items: center;
}
.transition-03 {
  @include mixin.prefixer(transition, var(--time-03));
}
.flex-1 {
  flex: 1;
}
.pointer {
  cursor: pointer;
}
